<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | relative_url }}?{{ site.time | date: "%Y%m%d%H%M" }}" >
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="{{ "/js/script.js" | relative_url }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
</head>
<body>
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
